<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:menubar style="background-color: black">


            <p:submenu label="Home" icon="ui-icon-contact" style="color: #660066" >
                <p:menuitem value="Inicio" url="/index.jsf" style="color: black"/>
            </p:submenu>


            <p:submenu label="Flota_Datos" icon="ui-icon-contact">
                <p:menuitem value="Marca" url="/paginas/marca.jsf" style="color: black"/>
                <p:menuitem value="Modelo" url="/paginas/modelo.jsf" style="color: black" />
                <p:menuitem value="TipoEstadoReserva" url="/paginas/tipoEstadoReserva.jsf" style="color: black"/>
                <p:menuitem value="TipoEstadoVehiculo" url="/paginas/tipoEstadoVehiculo.jsf" style="color: black"/>
                <p:menuitem value="TipoParte" url="/paginas/tipoParte.jsf" style="color: black"/>
                <p:menuitem value="TipoUsuario" url="/paginas/tipoUsuario.jsf"  style="color: black"/>
                <p:menuitem value="TipoVehiculo" url="/paginas/tipoVehiculo.jsf" style="color: black"/>
                <p:menuitem value="Vehiculo" url="/paginas/vehiculo.jsf" style="color: black"/>
                <p:menuitem value="SubTipoParte" url="/paginas/subTipoParte.jsf" style="color: black"/>
                <p:menuitem value="Parte" url="/paginas/parte.jsf" style="color: black"/>
                <p:menuitem value="ModeloParte" url="/paginas/modeloParte.jsf" style="color: black"/>
                <p:menuitem value="Reserva" url="/paginas/reserva.jsf" style="color: black"/>
                <p:menuitem value="Viaje" url="/paginas/viaje.jsf" style="color: black"/>
                <p:menuitem value="Recorrido" url="/paginas/recorrido.jsf" style="color: black"/>
                <p:menuitem value="EstadoReserva" url="/paginas/estadoReserva.jsf" style="color: black"/>
                <p:menuitem value="EstadoVehiculo" url="/paginas/estadoVehiculo.jsf" style="color: black"/>







            </p:submenu>

            <p:submenu label="____" icon="ui-icon-contact" style="color: #660066">
                <p:menuitem value="GF15006" url="#" style="color: black"/>
                <p:menuitem value="González Figueroa Kevin Osmin" url="#" style="color: black"/>

            </p:submenu>


        </p:menubar>
    </cc:implementation>




</html>