<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="Estado Vehiculo"/>



            <p:dataTable id="tbl" value="#{frmEstadoVehiculo.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmEstadoVehiculo.estadoVehiculo_}"
                         sortBy="#{t.idEstadoVehiculo}"
                         >
                <p:ajax event="rowSelect" listener="#{frmEstadoVehiculo.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idEstadoVehiculo}"/>
                </p:column>
                <p:column headerText="Id Vehiculo">
                    <h:outputText  value="#{t.idVehiculo.idVehiculo}"/>
                </p:column>
                <p:column headerText="Tipo Estado Vehiculo">
                    <h:outputText  value="#{t.idTipoEstadoVehiculo.nombre}"/>
                </p:column>
                <p:column headerText="Estado Actual">
                    <h:outputText  value="#{t.estadoActual?'Activo':'Inactivo'}"/>
                </p:column>

                <p:column headerText="Fecha">
                    <h:outputText  value="#{t.fecha}"/>
                </p:column>
            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Estado Vehiculo" pageOnly="true" />
            </p:commandLink>

        </h:form>


    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmEstadoVehiculo.estado!='NONE'}">

                Id Vehiculo <p:selectOneMenu id="idVehiculo" immediate="true" value="#{frmEstadoVehiculo.estadoVehiculo_.idVehiculo}" required="true" requiredMessage="seleccione una Opcion" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione "/>
                    <f:selectItems value="#{frmVehiculo.lista}"
                                   var="idVehiculoItem"
                                   itemValue="#{idVehiculoItem}"
                                   itemLabel="#{idVehiculoItem.idVehiculo.toString()}"
                                   />
                </p:selectOneMenu>

                Tipo Estado Vehiculo <p:selectOneMenu id="idtev" immediate="true" value="#{frmEstadoVehiculo.estadoVehiculo_.idTipoEstadoVehiculo}" required="true" requiredMessage="seleccione una Opcion" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione "/>
                    <f:selectItems value="#{frmTipoEstadoVehiculo.lista}"
                                   var="idTipoEstadoVehiculoItem"
                                   itemValue="#{idTipoEstadoVehiculoItem}"
                                   itemLabel="#{idTipoEstadoVehiculoItem.nombre.toString()}"
                                   />
                </p:selectOneMenu>

                Estado Actual <p:selectBooleanCheckbox value="#{frmEstadoVehiculo.estadoVehiculo_.estadoActual}"/>

                Fecha <p:calendar id="mask1" value="#{frmEstadoVehiculo.estadoVehiculo_.fecha}" pattern="yyyy-MM-dd" mask="true" />



            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmEstadoVehiculo}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>



    </ui:define>

</ui:composition>
