<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"
                                    
                                xmlns:h="http://xmlns.jcp.org/jsf/html"
                                xmlns:p="http://primefaces.org/ui"
                                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">
        
        
         <h:form id="frm">

            <h:outputText value="Estado Reserva"/>



            <p:dataTable id="tbl" value="#{frmEstadoReserva.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmEstadoReserva.estadoReserva_}"
                         sortBy="#{t.idEstadoReserva}"
                         >
                <p:ajax event="rowSelect" listener="#{frmEstadoReserva.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idEstadoReserva}"/>
                </p:column>
                <p:column headerText="Id Reserva">
                    <h:outputText  value="#{t.idReserva.idReserva}"/>
                </p:column>
                <p:column headerText="Tipo Estado Reserva">
                    <h:outputText  value="#{t.idTipoEstadoReserva.nombre}"/>
                </p:column>

                <p:column headerText="Actual">
                    <h:outputText  value="#{t.actual?'ACTIVO':'INACTIVO'}"/>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText  value="#{t.fecha}"/>
                </p:column>
                <p:column headerText="Observaciones">
                          <h:outputText  value="#{t.observaciones}"/>
                </p:column>
                <p:column headerText="Responsable">
                    <h:outputText  value="#{t.responsable}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Estado Reserva" pageOnly="true" />
            </p:commandLink>

        </h:form>
        
        
    </ui:define>

    <ui:define name="bottom">
       
        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmEstadoReserva.estado!='NONE'}">

                Id Reserva <p:selectOneMenu id="idReserva" immediate="true" value="#{frmEstadoReserva.estadoReserva_.idReserva}" required="true" requiredMessage="seleccione una opcion" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione una Opcion"/>
                    <f:selectItems value="#{frmReserva.lista}"
                                   var="idResumenItem"
                                   itemValue="#{idResumenItem}"
                                   itemLabel="#{idResumenItem.idReserva}"
                                   />

                </p:selectOneMenu>
                
                Tipo Estado Reserva <p:selectOneMenu id="idTipoEstadoReserva" immediate="true" value="#{frmEstadoReserva.estadoReserva_.idTipoEstadoReserva}" required="true" requiredMessage="seleccione un tipo de Usuario" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione una Opcion"/>
                    <f:selectItems value="#{frmTipoEstadoReserva.lista}"
                                   var="idTipoEstadoReservaItem"
                                   itemValue="#{idTipoestadoReservaItem}"
                                   itemLabel="#{idTipoEstadoReservaItem.nombre.toString()}"
                                   />

                </p:selectOneMenu>


                Actual <p:selectBooleanCheckbox value="#{frmEstadoReserva.estadoReserva_.actual}"/>

                Fecha <p:calendar id="mask" value="#{frmEstadoReserva.estadoReserva_.fecha}" pattern="yyyy-MM-dd" mask="true" />

                Observaciones<p:inputTextarea id="txtunidad" value="#{frmEstadoReserva.estadoReserva_.observaciones}" title="" />
                Responsable <p:inputText id="txtnombre" immediate="true" value="#{frmEstadoReserva.estadoReserva_.responsable}" title="Cliente" required="true" requiredMessage="Ingrese un reponsable"/>


            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmEstadoReserva}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>
        
        
    </ui:define>

</ui:composition>
