<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                >

    <ui:define name="top">
         <gg:menuBar></gg:menuBar>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="Marca"/>



            <p:dataTable id="tbl" value="#{frmMarca.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmMarca.marca_}"
                         sortBy="#{t.idMarca}"
                         >
                <p:ajax event="rowSelect" listener="#{frmMarca.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idMarca}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="activo">
                    <h:outputText  value="#{t.activo?'Activo':'Inactivo'}"/>
                </p:column>

                <p:column headerText="Descripcion">
                    <h:outputText  value="#{t.descripcion}"/>
                </p:column>
            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Marcas" pageOnly="true" />
            </p:commandLink>

        </h:form>


    </ui:define>

    <ui:define name="bottom">


        <h:form id="frm2">
         
            <p:panelGrid columns="2" rendered="#{frmMarca.estado!='NONE'}">
                Nombre <p:inputText id="txtnombre" 
                                    immediate="true" value="#{frmMarca.marca_.nombre}" required="true" requiredMessage="Agrege un nombre al registro de marca" />
                Activo <p:selectBooleanCheckbox value="#{frmMarca.marca_.activo}"/>
                Descripcion <p:inputTextarea value="#{frmMarca.marca_.descripcion}"/>
            </p:panelGrid>
            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmMarca}" formularioTabla="frm" formularioRegistro="frm2"/> 
    
        </h:form>
        
    </ui:define>

</ui:composition>
