<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar></gg:menuBar>


    </ui:define>

    <ui:define name="content">
        <h:form id="frm">

            <h:outputText value="Modelo"/>



            <p:dataTable id="tbl" value="#{frmModelo.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmModelo.modelo_}"
                         sortBy="#{t.idModelo}"
                         >
                <p:ajax event="rowSelect" listener="#{frmModelo.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idModelo}"/>
                </p:column>
                <p:column headerText="Modelo">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="Marca">
                    <h:outputText  value="#{t.idMarca.nombre}"/>
                </p:column>

                <p:column headerText="TipoVehiculo">
                    <h:outputText  value="#{t.idTipoVehiculo.nombre}"/>
                </p:column>
                <p:column headerText="anio">
                    <h:outputText  value="#{t.anio}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Modelos" pageOnly="true" />
            </p:commandLink>

        </h:form>

    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmModelo.estado!='NONE'}">

                Nombre <p:inputText id="txtnombre" value="#{frmModelo.modelo_.nombre}" required="true" immediate="true" requiredMessage="Digite un Nombre"/>

                anio  <p:inputText id="anio" value="#{frmModelo.modelo_.anio}" title=""/>

                Marca <p:selectOneMenu id="idMarca" value="#{frmModelo.modelo_.idMarca}" required="true" immediate="true" requiredMessage="seleccione una marca" converter="omnifaces.SelectItemsConverter">
                        <f:selectItem itemLabel="Seleccione una marca"/>
                        <f:selectItems value="#{frmModelo.listaMarca}"
                                       var="idMarcaItem"
                                       itemValue="#{idMarcaItem}"
                                       itemLabel="#{idMarcaItem.nombre.toString()}"
                                       />

                    </p:selectOneMenu>

                TipoVehiculo  <p:selectOneMenu id="idTipoVehiculo" immediate="true" value="#{frmModelo.modelo_.idTipoVehiculo}" required="true" requiredMessage="seleccione un tipo de vehiculo" converter="omnifaces.SelectItemsConverter" >
                        <f:selectItem itemLabel="Seleccione un tipo de Vehiculo"/>
                        <f:selectItems value="#{frmModelo.listaTipovehiculo}"
                                       var="idTipoVehiculoItem"
                                       itemValue="#{idTipoVehiculoItem}"
                                       itemLabel="#{idTipoVehiculoItem.nombre.toString()}"
                                       />

                    </p:selectOneMenu>
                </p:panelGrid>

 <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmModelo}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>


    </ui:define>

</ui:composition>