<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="ModeloParte"/>



            <p:dataTable id="tbl" value="#{frmModeloParte.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmModeloParte.modeloParte_}"
                         sortBy="#{t.idModeloParte}"
                         >
                <p:ajax event="rowSelect" listener="#{frmModeloParte.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idModeloParte}"/>
                </p:column>
                <p:column headerText="Modelo">
                    <h:outputText  value="#{t.idModelo.nombre}"/>
                </p:column>
                <p:column headerText="Parte">
                    <h:outputText  value="#{t.idParte.nombre}"/>
                </p:column>

                <p:column headerText="Activo">
                    <h:outputText  value="#{t.activo?'ACTIVO':'INACTIVO'}"/>
                </p:column>
                <p:column headerText="Onservaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="ModeloParte" pageOnly="true" />
            </p:commandLink>

        </h:form>



    </ui:define>

    <ui:define name="bottom">


        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmModeloParte.estado!='NONE'}">

                
                Modelo <p:selectOneMenu id="idModelo" immediate="true" value="#{frmModeloParte.modeloParte_.idModelo}" required="true" requiredMessage="seleccione un modelo" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione un modelo"/>
                    <f:selectItems value="#{frmModeloParte.listaModelo}"
                                   var="idModeloItem"
                                   itemValue="#{idModeloItem}"
                                   itemLabel="#{idModeloItem.nombre.toString()}"
                                   />
                </p:selectOneMenu>

                Parte <p:selectOneMenu id="idParte" immediate="true"
                                      value="#{frmModeloParte.modeloParte_.idParte}" required="true" requiredMessage="seleccione una Parte" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione una Parte"/>
                    <f:selectItems value="#{frmModeloParte.listaParte}"
                                   var="idParteItem"
                                   itemValue="#{idParteItem}"
                                   itemLabel="#{idParteItem.nombre.toString()}"
                                   />
                </p:selectOneMenu>

                Activo <p:selectBooleanCheckbox value="#{frmModeloParte.modeloParte_.activo}"/>

                Observaciones  <p:inputTextarea value="#{frmModeloParte.modeloParte_.observaciones}" title=""/>

            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmModeloParte}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>


    </ui:define>

</ui:composition>
