<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="Parte"/>



            <p:dataTable id="tbl" value="#{frmParte.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmParte.parte_}"
                         sortBy="#{t.idParte}"
                         >
                <p:ajax event="rowSelect" listener="#{frmParte.onRowSelect}" update="frm,:frm2"  />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idParte}"/>
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="SubTipoParte">
                    <h:outputText  value="#{t.idSubTipoParte.nombre}"/>
                </p:column>

                <p:column headerText="Activo">
                    <h:outputText  value="#{t.activo?'ACTIVO':'INACTIVO'}"/>
                </p:column>
                <p:column headerText="Onservaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Parte" pageOnly="true" />
            </p:commandLink>

        </h:form>

    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <h:panelGroup id="panel">
                <p:panelGrid id="panelito" columns="2" columnClasses="column" rendered="#{frmParte.estado!='NONE'}">

                    Nombre <p:inputText id="txtnombre" required="true" immediate="true" requiredMessage="Ingrese un Nombre" value="#{frmParte.parte_.nombre}" title="nombre" />

                Activo <p:selectBooleanCheckbox value="#{frmParte.parte_.activo}"/>


                SubTipoParte <p:selectOneMenu immediate="true" id="idSubtipoParte" value="#{frmParte.parte_.idSubTipoParte}" required="true" requiredMessage="seleccione un subtipoParte" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione un subtipoParte"/>
                    <f:selectItems value="#{frmParte.listaSubtipoParte}"
                                   var="idSubTipoParteItem"
                                   itemValue="#{idSubTipoParteItem}"
                                   itemLabel="#{idSubTipoParteItem.nombre.toString()}"
                                   />

                </p:selectOneMenu>

                Observaciones  <p:inputTextarea value="#{frmParte.parte_.observaciones}" title=""/>

            </p:panelGrid>
                
            </h:panelGroup>
          

            <p:growl life="2500" showSummary="true" autoUpdate="true"/>
            <gg:botonesCRUD backingBean="#{frmParte}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>


    </ui:define>

</ui:composition>
