<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"


                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="Recorrido"/>



            <p:dataTable id="tbl" value="#{frmRecorrido.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmRecorrido.recorrido_}"
                         sortBy="#{t.idRecorrido}"
                         >
                <p:ajax event="rowSelect" listener="#{frmRecorrido.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idRecorrido}"/>
                </p:column>
                <p:column headerText="IdReserva">
                    <h:outputText  value="#{t.idReserva.idReserva}"/>
                </p:column>
                <p:column headerText="Coordenada Inicial">
                    <h:outputText  value="#{t.coordenadaInicial}"/>
                </p:column>
                <p:column headerText="Coordenada Final">
                    <h:outputText  value="#{t.coordenadaFinal}"/>
                </p:column>
                <p:column headerText="fecha Desde">
                    <h:outputText  value="#{t.fechaDesde}"/>
                </p:column>
                <p:column headerText="fecha Hasta">
                    <h:outputText  value="#{t.fechaHasta}"/>
                </p:column>
                <p:column headerText="Hora inicial:">
                    <h:outputText  value="#{t.horaDesde}"/>
                </p:column>
                <p:column headerText="Hora Final">
                    <h:outputText  value="#{t.horaHasta}"/>
                </p:column>

            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Recorrido" pageOnly="true" />
            </p:commandLink>

        </h:form>



    </ui:define>

    <ui:define name="bottom">


        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmRecorrido.estado!='NONE'}">

                Coordenada Inicial <p:inputText id="txtnombre" value="#{frmRecorrido.recorrido_.coordenadaInicial}" title="" />

                Coordenada Final <p:inputText  value="#{frmRecorrido.recorrido_.coordenadaFinal}" title=""/>

                idReserva <p:selectOneMenu id="idModelo" value="#{frmRecorrido.recorrido_.idReserva}" required="true" immediate="true" requiredMessage="seleccione una reserva" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione una opcion"/>
                    <f:selectItems value="#{frmRecorrido.listaViaje}"
                                   var="idReservaItem"
                                   itemValue="#{idReservaItem}"
                                   itemLabel="#{idReservaItem.idReserva.toString()}"
                                   />

                </p:selectOneMenu>
                Fecha Desde<p:calendar id="mask1" value="#{frmRecorrido.recorrido_.fechaDesde}" pattern="yyyy-MM-dd" mask="true" />
                Fecha Hasta<p:calendar id="mask2" value="#{frmRecorrido.recorrido_.fechaHasta}" pattern="yyyy-MM-dd" mask="true" />

                Hora Inicial<p:calendar id="timeSalida" value="#{frmRecorrido.recorrido_.horaDesde}" pattern="HH:mm" timeOnly="true"  />
                Hora Final<p:calendar id="timeLlegada" value="#{frmRecorrido.recorrido_.horaHasta}" pattern="HH:mm" timeOnly="true"  />




            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmRecorrido}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>



    </ui:define>

</ui:composition>
