<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="Reservas"/>



            <p:dataTable id="tbl" value="#{frmReserva.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmReserva.reserva_}"
                         sortBy="#{t.idReserva}"
                         >
                <p:ajax event="rowSelect" listener="#{frmReserva.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idReserva}"/>
                </p:column>
                <p:column headerText="Cliente">
                    <h:outputText  value="#{t.cliente}"/>
                </p:column>
                <p:column headerText="Id Vehiculo">
                    <h:outputText  value="#{t.idVehiculo.idVehiculo}"/>
                </p:column>

                <p:column headerText="Unidad">
                    <h:outputText  value="#{t.unidad}"/>
                </p:column>
                <p:column headerText="Fecha Reserva">
                    <h:outputText  value="#{t.fechaReserva}"/>
                </p:column>
                <p:column headerText="Fecha Solicitada">
                    <h:outputText  value="#{t.fechaSolicitada}"/>
                </p:column>
                <p:column headerText="TipoUsuario">
                    <h:outputText  value="#{t.idTipoUsuario.nombre}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Reservas" pageOnly="true" />
            </p:commandLink>

        </h:form>



    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmReserva.estado!='NONE'}">

                Id Vehiculo <p:selectOneMenu id="idVehiculo" immediate="true" value="#{frmReserva.reserva_.idVehiculo}" required="true" requiredMessage="seleccione un Id Vehiculo" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione un Id de vehiculo"/>
                    <f:selectItems value="#{frmVehiculo.lista}"
                                   var="idVehiculoItem"
                                   itemValue="#{idVehiculoItem}"
                                   itemLabel="#{idVehiculoItem.idVehiculo.toString()}"
                                   />

                </p:selectOneMenu>


                Cliente <p:inputText  value="#{frmReserva.reserva_.cliente}" immediate="true" required="true" requiredMessage="Agregue un cliente  la rerva" title="Cliente" type="text" />
                 
               
                
                
                Unidad<p:inputText id="txtunidad" value="#{frmReserva.reserva_.unidad}" title="" />
              
                Fecha Solicitada<p:calendar id="mask1" value="#{frmReserva.reserva_.fechaSolicitada}" pattern="yyyy-MM-dd" mask="true" />

                Fecha Reserva<p:calendar id="mask" value="#{frmReserva.reserva_.fechaReserva}" pattern="yyyy-MM-dd" mask="true" />

                TipoUsuario <p:selectOneMenu id="idTipoUsuario" immediate="true" value="#{frmReserva.reserva_.idTipoUsuario}" required="true" requiredMessage="seleccione un tipo de Usuario" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione un tipo de usuario"/>
                    <f:selectItems value="#{frmTipoUsuario.lista}"
                                   var="idTipoUsuarioItem"
                                   itemValue="#{idTipoUsuarioItem}"
                                   itemLabel="#{idTipoUsuarioItem.nombre.toString()}"
                                   />

                </p:selectOneMenu>



            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmReserva}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>


    </ui:define>

</ui:composition>
