<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">

        <gg:menuBar></gg:menuBar>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="SubTipoParte"/>


            <p:dataTable id="tbl" value="#{frmSubTipoParte.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmSubTipoParte.subTipoParte_}"
                         sortBy="#{t.idSubTipoParte}"
                         >
                <p:ajax event="rowSelect" listener="#{frmSubTipoParte.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idSubTipoParte}"/>
                </p:column>
                <p:column headerText="SubTipoParte">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="TipoParte">
                    <h:outputText  value="#{t.idTipoParte.nombre}"/>
                </p:column>

                <p:column headerText="Activo">
                    <h:outputText  value="#{t.activo?'ACTIVO':'INACTIVO'}"/>
                </p:column>
                <p:column headerText="Observaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="SubTipoParte" pageOnly="true" />
            </p:commandLink>

        </h:form>


    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmSubTipoParte.estado!='NONE'}">

                TipoParte <p:selectOneMenu id="idParte" immediate="true" value="#{frmSubTipoParte.subTipoParte_.idTipoParte}" required="true" requiredMessage="seleccione un tipo de Parte" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione un Tipo de Parte"/>
                    <f:selectItems value="#{frmSubTipoParte.listaTipoParte}"
                                   var="idTipoParteItem"
                                   itemValue="#{idTipoParteItem}"
                                   itemLabel="#{idTipoParteItem.nombre.toString()}"
                                   />
                </p:selectOneMenu>
                Nombre <p:inputText id="txtnombre" value="#{frmSubTipoParte.subTipoParte_.nombre}" title="nombre " required="true" requiredMessage="Ingrese un nombre" immediate="true" />
                Activo <p:selectBooleanCheckbox value="#{frmSubTipoParte.subTipoParte_.activo}"/>
                Observaciones  <p:inputTextarea value="#{frmSubTipoParte.subTipoParte_.observaciones}" title="Observaciones _"/>


            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmSubTipoParte}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>



    </ui:define>

</ui:composition>
