<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                >

    <ui:define name="top">
<gg:menuBar></gg:menuBar>

    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="TipoEstadoVehiculo"/>

            <p:dataTable id="tbl" value="#{frmTipoEstadoVehiculo.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmTipoEstadoVehiculo.tipoEstadoVehiculo_}"
                         sortBy="#{t.idTipoEstadoVehiculo}"
                         >
                <p:ajax event="rowSelect" listener="#{frmTipoEstadoVehiculo.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idTipoEstadoVehiculo}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="activo">
                    <h:outputText  value="#{t.activo?'Activo':'Inactivo'}"/>
                </p:column>

                <p:column headerText="No Disponible">
                    <h:outputText value="#{t.noDisponible?'Activo':'Inactivo'}" />
                </p:column>

                <p:column headerText="Observaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>
            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="TipoEstadoVehiculo" pageOnly="true" />
            </p:commandLink>

        </h:form>


    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" rendered="#{frmTipoEstadoVehiculo.estado!='NONE'}">
                Nombre <p:inputText id="txtnombre" immediate="true" required="true" requiredMessage="Ingrese un nombre" value="#{frmTipoEstadoVehiculo.tipoEstadoVehiculo_.nombre}"/>
                Activo <p:selectBooleanCheckbox value="#{frmTipoEstadoVehiculo.tipoEstadoVehiculo_.activo}"/>
                NoDisponible<p:selectBooleanCheckbox value="#{frmTipoEstadoVehiculo.tipoEstadoVehiculo_.noDisponible}"/>
                Observaciones <p:inputTextarea value="#{frmTipoEstadoVehiculo.tipoEstadoVehiculo_.observaciones}"/>
            </p:panelGrid>
             <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmTipoEstadoVehiculo}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>

    </ui:define>

</ui:composition>
