<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                >

    <ui:define name="top">
<gg:menuBar></gg:menuBar>

    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="TipoParte"/>



            <p:dataTable id="tbl" value="#{frmTipoParte.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmTipoParte.tipoParte_}"
                         sortBy="#{t.idTipoParte}"
                         >
                <p:ajax event="rowSelect" listener="#{frmTipoParte.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idTipoParte}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="activo">
                    <h:outputText  value="#{t.activo?'Activo':'Inactivo'}"/>
                </p:column>

                <p:column headerText="Observaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>
            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="TipoParte" pageOnly="true" />
            </p:commandLink>

        </h:form>



    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" rendered="#{frmTipoParte.estado!='NONE'}">
                Nombre <p:inputText id="txtnombre" required="true" immediate="true" requiredMessage="Agregue un nombre" value="#{frmTipoParte.tipoParte_.nombre}"/>
                Activo <p:selectBooleanCheckbox value="#{frmTipoParte.tipoParte_.activo}"/>
                Observaciones <p:inputTextarea value="#{frmTipoParte.tipoParte_.observaciones}"/>
            </p:panelGrid>
           <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmTipoParte}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>


    </ui:define>

</ui:composition>