<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"
                >

    <ui:define name="top">
       <gg:menuBar></gg:menuBar>

    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="TipoVehiculo"/>

            <p:dataTable id="tbl" value="#{frmTipoVehiculo.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmTipoVehiculo.tipoVehiculo_}"
                         sortBy="#{t.idTipoVehiculo}"
                         >
                <p:ajax event="rowSelect" listener="#{frmTipoVehiculo.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idTipoVehiculo}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="activo">
                    <h:outputText  value="#{t.activo?'Activo':'Inactivo'}"/>
                </p:column>

                <p:column headerText="Peso Maximo">
                    <h:outputText value="#{t.pesoMaxLbs}" />
                </p:column>

                <p:column headerText="Cantidad de ejes">
                    <h:outputText  value="#{t.cantidadEjes}"/>
                </p:column>

                <p:column headerText="Peso Minimo">
                    <h:outputText  value="#{t.pesoMinLbs}"/>
                </p:column>

                <p:column headerText="Descripcion">
                    <h:outputText  value="#{t.descripcion}"/>
                </p:column>

            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="TipoVehiculo" pageOnly="true" />
            </p:commandLink>

        </h:form>


    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" rendered="#{frmTipoVehiculo.estado!='NONE'}">
                id<p:inputText value="#{frmTipoVehiculo.tipoVehiculo_.idTipoVehiculo}" disabled="true"/>
                Nombre <p:inputText id="txtnombre" required="true" immediate="true" requiredMessage="Agregue un nombre" value="#{frmTipoVehiculo.tipoVehiculo_.nombre}"/>
                Peso Maximo<p:inputText value="#{frmTipoVehiculo.tipoVehiculo_.pesoMaxLbs}"/>
                Peso Minimo<p:inputText value="#{frmTipoVehiculo.tipoVehiculo_.pesoMinLbs}" />
                Cantidad de Ejes<p:inputText value="#{frmTipoVehiculo.tipoVehiculo_.cantidadEjes}" />

                Activo <p:selectBooleanCheckbox value="#{frmTipoVehiculo.tipoVehiculo_.activo}"/>
                Descripcion <p:inputTextarea value="#{frmTipoVehiculo.tipoVehiculo_.descripcion}"/>
            </p:panelGrid>
          <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmTipoVehiculo}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>

    </ui:define>

</ui:composition>