<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"

                >

    <ui:define name="top">
      <gg:menuBar></gg:menuBar>
    </ui:define>

    <ui:define name="content">
        <h:form id="frm">

            <h:outputText value="TipoEstadoReserva"/>

           
            
            <p:dataTable id="tbl" value="#{frmTipoEstadoReserva.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmTipoEstadoReserva.tipoEstadoReserva_}"
                         sortBy="#{t.idTipoEstadoReserva}"
                         >
                <p:ajax event="rowSelect" listener="#{frmTipoEstadoReserva.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idTipoEstadoReserva}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="activo">
                    <h:outputText  value="#{t.activo?'Activo':'Inactivo'}"/>
                </p:column>
                <p:column headerText="IndicaAprobacion">
                    <h:outputText  value="#{t.indicaAprobacion?'Activo':'Inactivo'}"/>
                </p:column>
                <p:column headerText="Observaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>
            </p:dataTable>


            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="tipoEstadoReserva" pageOnly="true" />
            </p:commandLink>

        </h:form>

    </ui:define>

    <ui:define name="bottom">

        <h:form id="frm2">

            <p:panelGrid columns="2" rendered="#{frmTipoEstadoReserva.estado!='NONE'}">
                Nombre <p:inputText id="txtnombre" immediate="true" value="#{frmTipoEstadoReserva.tipoEstadoReserva_.nombre}" required="true" requiredMessage="Agrege un nombre" />
                Activo <p:selectBooleanCheckbox value="#{frmTipoEstadoReserva.tipoEstadoReserva_.activo}"/>
                IndicaAprobacion <p:selectBooleanCheckbox value="#{frmTipoEstadoReserva.tipoEstadoReserva_.indicaAprobacion}"/>
                Observaciones <p:inputTextarea value="#{frmTipoEstadoReserva.tipoEstadoReserva_.observaciones}"/>
            </p:panelGrid>
            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmTipoEstadoReserva}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>

    </ui:define>

</ui:composition>