<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"


                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">
        <h:form id="frm">

            <h:outputText value="Vehiculo"/>



            <p:dataTable id="tbl" value="#{frmVehiculo.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmVehiculo.vehiculo_}"
                         sortBy="#{t.idVehiculo}"
                         >
                <p:ajax event="rowSelect" listener="#{frmVehiculo.onRowSelect}" update=":frm2" />

                <p:column headerText="Id">
                    <h:outputText  value="#{t.idVehiculo}"/>
                </p:column>
                <p:column headerText="Numero de Chasis">
                    <h:outputText  value="#{t.numeroChasis}"/>
                </p:column>
                <p:column headerText="Numero Vin">
                    <h:outputText  value="#{t.numeroVin}"/>
                </p:column>

                <p:column headerText="Modelo">
                    <h:outputText  value="#{t.idModelo.nombre}"/>
                </p:column>
                <p:column headerText="Numero de Placa">
                    <h:outputText  value="#{t.numeroPlaca}"/>
                </p:column>
                <p:column headerText="Asientos">
                    <h:outputText  value="#{t.asientos}"/>
                </p:column>

                <p:column headerText="Color">
                    <h:outputText  value="#{t.color}"/>
                </p:column>



            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Vehiculos" pageOnly="true" />
            </p:commandLink>

        </h:form>




    </ui:define>

    <ui:define name="bottom">



        <h:form id="frm2">

            <p:panelGrid columns="2" columnClasses="column" rendered="#{frmVehiculo.estado!='NONE'}">

                Numero Chasis <p:inputText id="txtnombre" value="#{frmVehiculo.vehiculo_.numeroChasis}" title="" />

                Numero_Vin <p:inputText  value="#{frmVehiculo.vehiculo_.numeroVin}" title=""/>

                Modelo <p:selectOneMenu id="idModelo" immediate="true" value="#{frmVehiculo.vehiculo_.idModelo}" required="true" requiredMessage="seleccione un modelo" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="Seleccione un Modelo"/>
                    <f:selectItems value="#{frmVehiculo.listaModelo}"
                                   var="idModeloItem"
                                   itemValue="#{idModeloItem}"
                                   itemLabel="#{idModeloItem.nombre.toString()}"
                                   />

                </p:selectOneMenu>
                Numero de Placa <p:inputText value="#{frmVehiculo.vehiculo_.numeroPlaca}" required="true" requiredMessage="introdusca un numero de placa"/>
                Asientos <p:inputText  value="#{frmVehiculo.vehiculo_.asientos}" title=""/>
                Color <p:inputText  value="#{frmVehiculo.vehiculo_.color}" title=""/>




            </p:panelGrid>

            <p:growl life="2500" showSummary="true"/>
            <gg:botonesCRUD backingBean="#{frmVehiculo}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>



    </ui:define>

</ui:composition>
