<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"
                xmlns:p="http://primefaces.org/ui"    
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="top">
        <gg:menuBar/>
    </ui:define>

    <ui:define name="content">

        <h:form id="frm">

            <h:outputText value="Viaje"/>



            <p:dataTable id="tbl" value="#{frmViaje.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmViaje.viaje_}"
                         sortBy="#{t.idReserva}"
                         >
                <p:ajax event="rowSelect" listener="#{frmViaje.onRowSelect}" update=":frm2" />

                <p:column headerText="Id Reserva">
                    <h:outputText  value="#{t.idReserva}"/>
                </p:column>
                <p:column headerText="Fecha Desde">
                    <h:outputText  value="#{t.fechaDesde}"/>
                </p:column>
                <p:column headerText="Fecha Hasta">
                    <h:outputText  value="#{t.fechaHasta}"/>
                </p:column>

                <p:column headerText="kilometros">
                    <h:outputText  value="#{t.kilometros}"/>
                </p:column>

                <p:column headerText="Motorista">
                    <h:outputText  value="#{t.motorista}"/>
                </p:column>
                <p:column headerText="Observaciones">
                    <h:outputText  value="#{t.observaciones}"/>
                </p:column>
                <p:column headerText="Hora salida">
                    <h:outputText  value="#{t.horaSalida}"/>
                </p:column>

                <p:column headerText="Hora llegada">
                    <h:outputText  value="#{t.horaLlegada}"/>
                </p:column>

            </p:dataTable>
            <p:commandLink ajax="false">
                <p:graphicImage name="/images/pdf_.jpg" height="35px"/>
                <p:dataExporter type="pdf" target="tbl" fileName="Viaje" pageOnly="true" />
            </p:commandLink>

        </h:form>

    </ui:define>

    <ui:define name="bottom">


        <h:form id="frm2">
            <h:panelGroup>


                <p:panelGrid columns="2" columnClasses="column" rendered="#{frmViaje.estado!='NONE'}">
                    <h:outputLabel value="Id Reserva" for="reservaid" rendered="#{frmViaje.estado!='EDITAR'}"/>
                    <p:inputText id="reservaid" rendered="#{frmViaje.estado!='EDITAR'}" value="#{frmViaje.viaje_.idReserva}" required="true" requiredMessage="Ingrese la reserva" immediate="true"/>

                    Fecha Desde<p:calendar id="mask1" value="#{frmViaje.viaje_.fechaDesde}" pattern="yyyy-MM-dd" mask="true" />

                    Fecha Hasta <p:inputText  value="#{frmViaje.viaje_.fechaHasta}" title="" />

                    Kilometros <p:inputText value="#{frmViaje.viaje_.kilometros}" />
                    Motorista  <p:inputText  value="#{frmViaje.viaje_.motorista}" />

                    Observaciones <p:inputTextarea  value="#{frmViaje.viaje_.observaciones}" title=""/>

                    Hora Salida<p:calendar id="timeSalida" value="#{frmViaje.viaje_.horaSalida}" pattern="HH:mm" timeOnly="true"  />
                    Hora Llegada<p:calendar id="timeLlegada" value="#{frmViaje.viaje_.horaLlegada}" pattern="HH:mm" timeOnly="true"  />

                </p:panelGrid>
            </h:panelGroup>

            <p:growl life="2500" showSummary="true" />
            <gg:botonesCRUD backingBean="#{frmViaje}" formularioTabla="frm" formularioRegistro="frm2"/> 
        </h:form>



    </ui:define>

</ui:composition>
