<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templates/plantilla.xhtml"
                xmlns:gg="http://xmlns.jcp.org/jsf/composite/componentes"


                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        <gg:menuBar></gg:menuBar>

    </ui:define>

    <ui:define name="content">

        <p:imageSwitch effect="shuffle">
            <ui:repeat value="#{frmMarca.images}" var="image">
                <p:graphicImage library="images" name="#{image}" height="500px" width="1500px"/>
            </ui:repeat>
        </p:imageSwitch>

    </ui:define>

    <ui:define name="bottom">
        <h1> Parangutirimicuaro </h1>
    </ui:define>

</ui:composition>
